h2.pageHeading{
	text-align:center;
	letter-spacing:3px;
	margin-top:-10px;
	
	
}
.jumbotron{
	margin-top:-10px;
	height:30px;
	background-color:#7FE0FF;
}
#navigation_bar{
	position: relative;
	top: -30px;
}
#container_html{
	border:none;
}
#login_Container{
	position: relative;
	left:-15px;
	top: -50px;
}
#user_name,#pass_word{
	position: relative;
	left:-70px;
}
#employee-list{
	border:none;
}
ul#employeesList,ul#statistics,ul#employee{
	width:400px;
}
ul#employee{
	position: relative;
	top:30px;
}
ul#statistics{
	position:relative;
	left:50px;
}
#employeesList{
	position:relative;
	left:-50px;
}
#employee-added{
	width:300px;
	margin-top:10px;
}
.form-horizontal{
	margin-left:30px;
	width:400px;
}
#container_html{
	margin-left:30px;
	width:400px;
}
.btn.btn-default:focus {
    background-color: #7FE0FF;
}
#empl_pages_div{
	position: absolute;
    left: 50px;
    top: 880px;
}
#login-btn{
	position:relative;
	left:220px;
}
#container_html{
	border:0px;
}
.list-group-item{
	text-align: left;
}
#employee-info{
	position:relative;
	top:50px;
	width:500px;
	left:20px;
}
#criteria,#param_field{
	height:30px;
}
#input_bar{
	position:relative;
	left:20px;
}
.explain_text{
	font-size:12px;
	color:#999999;
}
#all_employees_container{
	position:relative;
	left:80px;
}

